= form_for :item, url: {action: "create"}, :remote => true do |f|
  = f.label :destination
  = f.text_field :destination
  = f.label :address
  = f.text_field :address
  = f.label :description
  = f.text_field :description
  = f.label :notes
  = f.text_field :notes
  = f.hidden_field :journey_id, value: @journey
  = f.submit "Create Item"