#container
  %ul#dropdown1.dropdown-content
    = render 'journeys/journey_menu_list'
  %navbar.fixed
    %nav.blue.darken-2
      .nav-wrapper
        .brand-logo.center Travel Itinerary
        %ul#nav-mobile.right
          %li
            = link_to "Create New Journey", new_journey_path, remote: true
          %li.dropdown-button{"data-activates" => "dropdown1"}
            = link_to "Select Journey"
          %li
            = link_to "Sign out", destroy_traveller_session_path, method: :delete

  #side-menu
    .journeys
      %ul.journey
      -if @journey
        = render @journey
  #map{data: {items: @items_json}}


  #add-item-modal.modal
    .modal-content
  #edit-item-modal.modal
    .modal-content
  #view-rentals-modal.modal
    .modal-content
  #add-journey-modal.modal
    .modal-content



